In [1]:
'''
To Do: 
    city Maps
    state maps-categories, salary, 
    clean up charts-
    To DO Analysis
    To Do NLP on job description-done
    csv to github-
    comments-
    salary ranges
    
    '''

'\nTo Do: \n    city Maps\n    state maps-categories, salary, \n    clean up charts-\n    To DO Analysis\n    To Do NLP on job description-done\n    csv to github-\n    comments-\n    salary ranges\n    \n    '

In [2]:
import pandas as pd
import plotly
import sklearn as sk
#https://medium.com/@erikgreenj/mapping-us-states-with-geopandas-made-simple-d7b6e66fa20d
import csv
import spacy
import nltk
import matplotlib.pyplot as plt; plt.rcdefaults()
import numpy as np
import matplotlib.pyplot as plt
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

In [3]:
#load dataset
#put on a github
data = pd.read_csv("data_scientist_united_states_job_postings_jobspikr.csv")
#data = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/2014_us_cities.csv')

print(data.head())
for col in data.columns: 
    print(col)

             crawl_timestamp  \
0  2019-02-06 05:26:22 +0000
1  2019-02-06 05:33:41 +0000
2  2019-02-06 05:33:35 +0000
3  2019-02-06 05:33:42 +0000
4  2019-02-06 05:48:23 +0000

                                                 url  \
0  https://www.indeed.com/viewjob?jk=fd83355c2b23...
1  https://www.dice.com/jobs/detail/Data-Scientis...
2  https://www.dice.com/jobs/detail/Data-Scientis...
3  https://www.indeed.com/viewjob?jk=841edd86ead2...
4  https://job-openings.monster.com/senior-data-s...

                                           job_title            category  \
0                        Enterprise Data Scientist I  Accounting/Finance
1                                     Data Scientist                 NaN
2                                     Data Scientist                 NaN
3  Data Scientist, Aladdin Wealth Tech, Associate...  Accounting/Finance
4                              Senior Data Scientist             biotech

                           company_name            city  \
0               Farmers Insurance Group  Woodland Hills
1                        Luxoft USA Inc      Middletown
2  Cincinnati Bell Technology Solutions        New York
3                             BlackRock        New York
4                           CyberCoders       Charlotte

                     state country   inferred_city  inferred_state  \
0                       CA     Usa  Woodland hills      California
1                       NJ     Usa      Middletown      New jersey
2                       NY     Usa        New york        New york
3  NY 10055 (Midtown area)     Usa        New york        New york
4                       NC     Usa       Charlotte  North carolina

          ...                                             job_description  \
0         ...           Read what people are saying about working here...
1         ...           We have an immediate opening for a Sharp Data ...
2         ...           Candidates should have the following backgroun...
3         ...           Read what people are saying about working here...
4         ...           We are seeking an extraordinary Data Scientist...

    job_type salary_offered job_board  geo            cursor contact_email  \
0  Undefined            NaN    indeed  usa  1549432819114777           NaN
1  Undefined            NaN      dice  usa  1549432819122106           NaN
2  Full Time            NaN      dice  usa  1549432819236156           NaN
3  Undefined            NaN    indeed  usa  1549432819259473           NaN
4  Full Time            NaN   monster  usa  1549436429015957           NaN

   contact_phone_number                           uniq_id html_job_description
0                   NaN  3b6c6acfcba6135a31c83bd7ea493b18                  NaN
1                   NaN  741727428839ae7ada852eebef29b0fe                  NaN
2                   NaN  cdc9ef9a1de327ccdc19cc0d07dbbb37                  NaN
3                   NaN  1c8541cd2c2c924f9391c7d3f526f64e                  NaN
4                   NaN  445652a560a5441060857853cf267470                  NaN

[5 rows x 22 columns]
crawl_timestamp
url
job_title
category
company_name
city
state
country
inferred_city
inferred_state
inferred_country
post_date
job_description
job_type
salary_offered
job_board
geo
cursor
contact_email
contact_phone_number
uniq_id
html_job_description

In [5]:
#eda
#add geo tag
from geopy import geocoders
gn = geocoders.GeoNames(username="bkschmidt")
def get_lt_long(city, state):
    output=gn.geocode(city, state)[0]
    data["lat"]=output[1][0]
    data["long"]=output[1][1]
for row in data:
    city=data[row]["city"]
    state=data[row]["state"]
    get_lt_long(city, state)
print(data["lat","long"])

KeyError: 'city'

In [ ]:
#set up dataset
data['job_title'].value_counts()

In [ ]:
data['category'].value_counts()

In [ ]:
#data['company_name'].value_counts()
#data['company_name'].nlargest(1)

In [ ]:
data['salary_offered'].value_counts()
#clean salary: 
for i in data["salary_offered"]:
    if i = "$80K - $100K ":
        i=80000
    if i ="$100K - $150K":
        i=100000
    if i== "$150K - $200K":
        i=150000
    if i =="$200K - $250K":
        i=200000
    if i== "$85k - 97k | Equity":
        i= 85000
    if i == "$150k - 175k | Equity":
        i= 150000
    if i = "$80K - $150K":
        i= 80000
    if i =="$100k - 135k | Equity":
        i=100000
    if i == "$50k - 75k | Equity":                        
        i=50000
    if i =="$250K - $500K":
        i= 250000
    if i == "$200K - $2147484K":
        i = 200000
    else:
        i=0
data['salary_offered'].value_counts()

In [ ]:
#description analysis, pull out languages and skill analysis adjust this to tak in the count of each
stop_words = set(stopwords.words('english')) 
skills=["python", "java", "machine learning", "ml", "sql", "nosql", "deep learning", "r", "aws", "azure", "statistics", "phd", "pandas", "sklearn", "javascript", "d3j", "powerbi", "excel", "tableau", "visualization", "big data", "hadoop", "spark"]
skills_list=[]
for description in data['job_description']:
  
    word_tokens = word_tokenize(description.lower()) 
  
    filtered_sentence = [w for w in word_tokens if not w in stop_words] 
    for i in skills:
    
        skills=[w for w in filtered_sentence if w in i]
    skillcount=len(skills)
    skills_list.append(skillscount)
    #print("working")
    
data['skills'] = skills_list
#data['skills'].value_counts().plot('bar')
print(data['skills'])

In [ ]:
#bubble of average salary by state with the size based on the number of jobs; repeat for cities
def bubble(x,y,z,titles, xes, yes):
    #plt.scatter(x, y, s=z*4000, c="red", alpha=0.4)
    plt.scatter(x, y, s=z*4000, c="green", alpha=0.4, linewidth=6)
    plt.xlabel(xes)
    plt.ylabel(yes)
    plt.title(titles, loc="left")

    plt.show()

In [ ]:
bubble(data['category'], data['state'], data['salary_offered'], "Title", "XLabel", "Ylabel")

In [ ]:
#bubble of average salary by cities with the size based on the number of job
bubble(data['category'], data['city'], data['salary_offered'], "Title", "XLabel", "Ylabel")

In [ ]:
#scatter category and salary
sns.scatterplot(x='category', y='salary_offered', data=data)

In [ ]:
#implement for all.
def histogram(field, title, xlabel, ylabel):
    ax = data[field].value_counts().nlargest(10).plot(kind='bar', title =title, figsize=(15, 10), legend=True, fontsize=12)
    ax.set_xlabel(xlabel, fontsize=12)
    ax.set_ylabel(ylabel, fontsize=12)
    plt.show()

In [ ]:
def crosstabs(sidea, sideb):
    clarity_color_table = pd.crosstab(index=sidea, 
                          columns=sideb)

    
    clarity_color_table.plot(kind="bar", 
                 figsize=(8,8),
                 stacked=True)

In [ ]:
#eda
#count of categories-bar
#count of companies-bar
#count of citys-bubble density
#count of states-bubble density
#count of job type-bar
#salary scatter

In [ ]:
#bar vis
'''
ax = data.company_name.value_counts().nlargest(10).plot(kind='bar', title ="Most Hiring Companies", figsize=(15, 10), legend=True, fontsize=12)
ax.set_xlabel("Company Name", fontsize=12)
ax.set_ylabel("Number of postings", fontsize=12)
plt.show()
'''
histogram(company_name,"Companies Hiring the Most", "Company Name", "Number of Postings")

In [ ]:
#bar vis 2
ax3 = data.job_title.value_counts().nlargest(10).plot(kind='bar', title ="Job Categories", figsize=(15, 10), legend=True, fontsize=12)
ax3.set_xlabel("Job Category", fontsize=12)
ax3.set_ylabel("Number of postings", fontsize=12)
plt.show()
histogram(job_title,"Most Job Title", "Job Title", "Number of Postings")

In [ ]:
#bar vis 3
ax2 = data.state.value_counts().nlargest(10).plot(kind='bar', title ="Highest States", figsize=(15, 10), legend=True, fontsize=12)
ax2.set_xlabel("States", fontsize=12)
ax2.set_ylabel("Number of postings", fontsize=12)
plt.show()
histogram(state,"States with Most opportunities", "State", "Number of Postings")

In [ ]:
ax2 = data["city"].value_counts().nlargest(20).plot(kind='bar', title ="Highest Cities", figsize=(15, 10), legend=True, fontsize=12)
ax2.set_xlabel("Cities", fontsize=12)
ax2.set_ylabel("Number of postings", fontsize=12)
plt.show()
histogram(city,"Companies Hiring the Most", "Company Name", "Number of Postings")

In [ ]:
#bubble chart for skills and 
ax5 = data["category"].value_counts().nlargest(5).plot(kind='bar', title ="Highest Cities", figsize=(15, 10), legend=True, fontsize=12)
ax5.set_xlabel("Cities", fontsize=12)
ax5.set_ylabel("Number of postings", fontsize=12)
plt.show()
histogram(category,"Most Common Industries", "Industry", "Number of Postings")

In [ ]:
#density plots 3

In [ ]:
import plotly.graph_objects as go
def mapping(datapoint):
    df=datapoint['state'].value_counts().to_frame()
    #print(df)
    fig = go.Figure(data=go.Choropleth(
        locations=data['state'], # Spatial coordinates
        z = df['state'].astype(float), # Data to be color-coded
        locationmode = 'USA-states', # set of locations match entries in `locations`
        colorscale = 'picnic',

        colorbar_title = "Millions USD",
    ))

    fig.update_layout(
        title_text = 'number job postings by state',
        geo_scope='usa', # limite map scope to USA
    )

    fig.show()
#color is off; try here https://stackoverflow.com/questions/53685906/choropleth-map-in-plotly-colours-not-showing-correctly

In [ ]:
mapping(data)

In [ ]:
#mapping 3 title by city 
import plotly.graph_objects as go

import pandas as pd

#df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/2014_us_cities.csv')
#df.head()

#df['text'] = df['name'] + '<br>Population ' + (df['pop']/1e6).astype(str)+' million'
limits = [(0,2),(3,10),(11,20),(21,50),(50,3000)]
colors = ["royalblue","crimson","lightseagreen","orange","lightgrey"]
cities = []
scale = 5000

fig = go.Figure()

for i in range(len(limits)):
    lim = limits[i]
    df_sub = data[lim[0]:lim[1]]
    fig.add_trace(go.Scattergeo(
        locationmode = 'USA-states',
        lon = df_sub['long'],
        lat = df_sub['lat'],
        text = df_sub['city'],
        marker = dict(
            size = df_sub['pop']/scale,
            color = colors[i],
            line_color='rgb(40,40,40)',
            line_width=0.5,
            sizemode = 'area'
        ),
        name = '{0} - {1}'.format(lim[0],lim[1])))

fig.update_layout(
        title_text = '2014 US city populations<br>(Click legend to toggle traces)',
        showlegend = True,
        geo = dict(
            scope = 'usa',
            landcolor = 'rgb(217, 217, 217)',
        )
    )

fig.show()

In [ ]:
#WOW CALIFORNIA IS OVER REPRESENTED!, lets try this again without ca
data2 = data.copy()
indexNames = data2[data2['state'] == "CA" ].index
 
# Delete these row indexes from dataFrame
data2.drop(indexNames , inplace=True)
def histogram2(field, title, xlabel, ylabel):
    ax = data2[field].value_counts().nlargest(10).plot(kind='bar', title =title, figsize=(15, 10), legend=True, fontsize=12)
    ax.set_xlabel(xlabel, fontsize=12)
    ax.set_ylabel(ylabel, fontsize=12)
    plt.show()

In [ ]:
#remix
histogram2(company_name,"Companies Hiring the Most", "Company Name", "Number of Postings")

In [ ]:
histogram2(category,"Most Common Industries", "Industry", "Number of Postings")

In [ ]:
histogram2(city,"Companies Hiring the Most", "Company Name", "Number of Postings")

In [ ]:
histogram3(state,"States with Most opportunities", "State", "Number of Postings")

In [ ]:
bubble(data2['category'], data2['state'], data2['salary_offered'], "Title", "XLabel", "Ylabel")

In [ ]:
bubble(data2['category'], data2['city'], data2['salary_offered'], "Title", "XLabel", "Ylabel")

In [ ]:
sns.scatterplot(x='category', y='salary_offered', data=data2)

In [ ]:
mapping(data2)

In [ ]:
#Conclusions